*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    width: 300px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    
}

.sidebar-nav{
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.sidebar-nav .logo{
    width: 120px;
}
.sidebar-nav .logo img{
    width: 100%;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 10px 20px;
}
.sidebar-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-nav ul li a:hover{
    color: white;
}
.sidebar-nav ul li a i{
    font-size: 20px;
    margin: 10px;
}
.library::after{
    content: '+';
    float: right;
    text-align: center;
    background: #111111;
    padding: 7px;
    border-radius: 50%;
    font-size: 15px;
}
.create-playlist{
    background: #282727;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sidebar-scroll{
    height: 130px;
    overflow-y: auto;
}
.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 5px;
}
.create-playlist h4{
    color: #fff;
    font-size: 15px;
}
.create-playlist p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
}
.create-playlist button{
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.privacy ul li a{
    text-decoration: none;
    color: #5c5b5b;
    font-size: 11px;
    font-weight: 600;
    margin: 0  6px;
}
.privacy ul li a:hover{
    text-decoration: underline;
    color: #c7c7c7;
}

.privacy ul{
    list-style: none;
    margin-top: 8px;
}

.privacy ul li{
    padding: 0 12px;
    padding-bottom: 8px;
}
.eng-but{
    padding: 20px 30px;
}
.eng-but button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #fff;
    border: 1px solid #5c5b5b;
    border-radius: 20px;
    margin: 8px 0;
}
.eng-but button:hover{
    padding: 11px 31px;
    border: 1px solid #fff;
}


/* -----------Main section-------------- */


.main-section{
    margin-left: 300px;
    background: #181818;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 80px;
}
.main-section::-webkit-scrollbar{
    background: transparent;
}
.main-section::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.main-section:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 5px;
}
.main-section .top-nav{
    padding: 20px 30px;
    background: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section .top-nav button{
    background: transparent;
    border: 0;
    outline: 0;
}
.main-section .top-nav .prev-btn button i{
    color: rgb(150, 149, 149);
    font-size: 22px;
    margin-right: 10px;
}
.main-section .top-nav .prev-btn button i:hover{
    color: white;
}
.top-nav .login-btn .sign-up{
    color: #b3b3b3;
    font-weight: 600;
    font-size: 16px;
    margin-right: 25px;
}
.top-nav .login-btn .sign-up:hover{
    color:white;
}
.top-nav .login-btn .login-up{
    color: black;
    font-weight: 600;
    font-size: 16px;
    background: white;
    padding: 10px 15px;
    border-radius: 30px;
}
.top-nav .login-btn .login-up:hover{
    background: rgb(221, 220, 220);
}


.spotify-playlist{
    padding: 20px 40px;
}
.spotify-playlist .h{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.spotify-playlist .h2:hover{
    text-decoration: underline;
    color: white;
}
.spotify-playlist .h3:hover{
    text-decoration: underline;
    color: white;
}
.spotify-playlist h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlist h3 {
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}

.spotify-playlist .card{
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlist .card .item{
    width: 230px;
    min-width: 140px;
    /* background-color: #0f0f0f; */
    cursor: pointer;
    border-radius: 6px;
    padding:10px;
}

.spotify-playlist .card .item1{
    width: 230px;
    height: 230px;
    /* background-color: #0f0f0f; */
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    padding:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 



.spotify-playlist .card .item:hover{
    background-color: #282727;
}

.spotify-playlist .card .item1:hover{
    background-color: #282727;
}


.spotify-playlist .card .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 8px;
}
.spotify-playlist .card .item1 img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 8px;
    
}

.spotify-playlist .item h4{
    color: white;
}
.spotify-playlist .item1 h4{
    color: white;
}
.spotify-playlist .item p{
    color: rgb(109, 106, 106);
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
}
.spotify-playlist .item1 p{
    color: rgb(109, 106, 106);
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
}
.spotify-playlist .item p:hover{
    text-decoration: underline;
}
.spotify-playlist .item1 p:hover{
    text-decoration: underline;
}
.spotify-playlist .play-btn{
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background-color: rgb(27, 144, 27);
    border-radius: 50%;
    padding: 10px;
    right: 10px;
    top: -40px;
    opacity: 0;
    transform: 0.3s ease all;
}
.spotify-playlist .card .item:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px);
}
.spotify-playlist .card .item1:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px);
}



/* --------footer--------- */

.footer-section{
    padding: 20px 40px;
}
.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-links .footer-col{
    margin: 0 12px;
}
.footer-section .footer .footer-links div{
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}
.footer-section .footer .footer-links ul{
    list-style: none;
    margin: 6px 0;
}
.footer-section .footer .footer-links ul a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;
}
.footer-section .footer .footer-links ul a:hover{
    text-decoration: underline;
    color: white;
}
.footer .social-link i{
    color: white;
    background: #282727;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}
.footer .social-link i:hover{
    color: white;
    background: #505050;
}
hr{
    margin: 20px 40px;
    border: 0;
    outline: 0;
    border: 1px solid #514f4f;
    margin-top: 40px;
}
.copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;
}

.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,#ae2896,#509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;
}
.preview h4{
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.preview p{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.preview button{
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}